.calculator{
    margin-top: 6cm;
    background-color: rgb(0, 0, 0);
    width: 40%;
    border-radius: 10px;
}
.input{
    margin-top: 29px;
    height: 40px;
}
.b1{
    margin-top: 1cm;
    background-color: rgb(255, 0, 0);
    color: white;
    width: 1cm;
    height: 1cm; 
    margin-right: 12px;
}
.b2{
    margin-top: 1cm;
    background-color: rgba(0, 119, 255, 0.158);
    color: white;
    width: 1cm;
    height: 1cm;
    margin-right: 12px;
}
.b3{
    margin-top: 1cm;
    background-color: rgba(0, 119, 255, 0.158);
    color: white;
    width: 1cm;
    height: 1cm;
    margin-right: 12px;
}
.b4{
    margin-top: 1cm;
    background-color: rgba(0, 119, 255, 0.158);
    color: white;
    width: 1cm;
    height: 1cm;
    margin-right: 12px;
}

.b6{
    margin-top: 1cm;
    background-color: rgba(0, 119, 255, 0.158);
    color: white;
    width: 1cm;
    height: 1cm;
    margin-right: 12px;  
}

.b0{
    margin-top: 1cm;
    background-color: rgb(255, 230, 0);
    color: white;
    width: 1.8cm;
    height: 1cm;
}

.b7{
    background-color: rgba(0, 119, 255, 0.158);
    color: white;
    width: 1cm;
    height: 1cm;
       
    margin-right: 11px; 
    margin-top: 1cm;    
}
.b8{
    background-color: rgba(0, 119, 255, 0.158);
    color: white;
    width: 1.3cm;
    height: 1cm;
    margin-right: 11px; 
    margin-top: 1cm;
    margin-bottom: 19px ;
}